XadesTest/Service References/IntModule/XadesTools1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="urn:be:cin:nip:tools:xades" xmlns:wsrmp="http://schemas.xmlsoap.org/ws/2005/02/rm/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy" name="XadesTools" targetNamespace="urn:be:cin:nip:tools:xades" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="X509">
    <!-- WCF Compatible with: -->
    <!-- <wsHttpBinding> -->
    <!--   <binding name="xxx" messageEncoding="Mtom"> -->
    <!--     <security mode="TransportWithMessageCredential"> -->
    <!--       <message clientCredentialType="Certificate" negotiateServiceCredential="false" establishSecurityContext="false" /> -->
    <!--     </security> -->
    <!--   </binding> -->
    <!-- </wsHttpBinding> -->
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
        <wsoma:OptimizedMimeSerialization />
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens>
          <wsp:Policy>
            <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssX509V3Token10 />
              </wsp:Policy>
            </sp:X509Token>
            <sp:SignedParts>
              <!-- Timestamp signing is still required because of the include timestamp before -->
              <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
            </sp:SignedParts>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11>
          <wsp:Policy>
          </wsp:Policy>
        </sp:Wss11>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns:wsrmp="http://schemas.xmlsoap.org/ws/2005/02/rm/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="https://dev.mycarenet.be/im-ws/XadesTools?xsd=XadesTools.xsd" namespace="urn:be:cin:nip:tools:xades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="verifyXadesTResponse">
    <wsdl:part name="parameters" element="tns:verifyXadesTResponse" />
  </wsdl:message>
  <wsdl:message name="createXadesTResponse">
    <wsdl:part name="parameters" element="tns:createXadesTResponse" />
  </wsdl:message>
  <wsdl:message name="Fault">
    <wsdl:part name="parameters" element="tns:fault" />
  </wsdl:message>
  <wsdl:message name="createXadesBesResponse">
    <wsdl:part name="parameters" element="tns:createXadesBesResponse" />
  </wsdl:message>
  <wsdl:message name="createXadesT">
    <wsdl:part name="parameters" element="tns:createXadesT" />
  </wsdl:message>
  <wsdl:message name="verifyXadesT">
    <wsdl:part name="parameters" element="tns:verifyXadesT" />
  </wsdl:message>
  <wsdl:message name="createXadesBes">
    <wsdl:part name="parameters" element="tns:createXadesBes" />
  </wsdl:message>
  <wsdl:portType name="XadesTools">
    <wsdl:operation name="createXadesT">
      <wsdl:input wsaw:Action="urn:be:cin:nip:tools:xades:createXadesT:detail" message="tns:createXadesT" />
      <wsdl:output wsaw:Action="urn:be:cin:nip:tools:xades:createXadesT:signature" message="tns:createXadesTResponse" />
      <wsdl:fault wsaw:Action="urn:be:cin:nip:tools:xades:createXadesT:fault" name="fault" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="createXadesBes">
      <wsdl:input wsaw:Action="urn:be:cin:nip:tools:xades:createXadesBes:detail" message="tns:createXadesBes" />
      <wsdl:output wsaw:Action="urn:be:cin:nip:tools:xades:createXadesBes:signature" message="tns:createXadesTResponse" />
      <wsdl:fault wsaw:Action="urn:be:cin:nip:tools:xades:createXadesBes:fault" name="fault" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="verifyXadesT">
      <wsdl:input wsaw:Action="urn:be:cin:nip:tools:xades:verifyXadesT:signature" message="tns:verifyXadesT" />
      <wsdl:output wsaw:Action="urn:be:cin:nip:tools:xades:verifyXadesT:result" message="tns:verifyXadesTResponse" />
      <wsdl:fault wsaw:Action="urn:be:cin:nip:tools:xades:verifyXadesT:fault" name="fault" message="tns:Fault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XadesToolsSOAP12" type="tns:XadesTools">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#X509" />
    <wsdl:operation name="createXadesT">
      <soap12:operation soapAction="urn:be:cin:nip:tools:xades:createXadesT:detail" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap12:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createXadesBes">
      <soap12:operation soapAction="urn:be:cin:nip:tools:xades:createXadesBes:detail" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap12:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="verifyXadesT">
      <soap12:operation soapAction="urn:be:cin:nip:tools:xades:verifyXadesT:signature" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap12:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XadesTools">
    <wsdl:port name="XadesToolsSOAP12" binding="tns:XadesToolsSOAP12">
      <soap12:address location="https://dev.mycarenet.be/im-ws/XadesTools" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>